/* colors */
.blue {
  background: #39a2db;
}
.red {
  background: #ff0000;
}
.dark-red {
  background: #ff2626;
}
.dark-green {
  background: #2f576e;
}
.dark-violet {
  background: #4e1184;
}
/* colors */
a {
  text-decoration: none !important;
  outline: none !important;
}
a:focus {
  outline: none !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: inline-block;
}
/* main css */
